/* bootstrap links colors*/
.pagination > li > a,
.pagination > li > span {
    color: whitesmoke;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}
