/* bootstrap links colors*/
.pagination .page-link {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
